* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

h1 {
  text-align: center;
  margin: 50px auto;
  font-size: 55px;
  color: dimgray;
}

hr {
  width: 25%;
  margin: 50px auto;
  border-top: 3px solid dimgray;
}