* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
}

h1,
h2 {
  text-align: center;
  margin: 50px auto;
  font-size: 30px;
  color: dimgray;
}

hr {
  width: 25%;
  margin: 50px auto;
  border-top: 3px solid dimgray;
}

/* Header Section Styling */
header {
  width: 100%;
}

.main-nav {
  background-color: ghostwhite;
  box-shadow: 0 1px 15px rgb(97, 97, 97);
}

#current-time,
footer p,
#page-nav {
  width: 90%;
  margin: 0 auto;
}

#books,
#contact,
#form-section {
  transition: 400ms ease-in-out;
}

#page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 auto;
}

#contact a,
#page-nav span a {
  text-decoration: none;
  color: dimgray;
  transition: 250ms ease-out;
}

#page-nav span a {
  font-weight: bolder;
  font-size: 17px;
}

#page-nav ul li a {
  font-size: 15px;
  text-decoration: none;
  transition: 300ms ease-in-out;
  color: dimgray;
}

#contact a:hover,
#page-nav li a:hover,
#page-nav span a:hover {
  color: red;
}

#page-nav ul {
  margin: 0;
  padding: 0;
}

#page-nav ul li {
  display: inline-block;
  margin-right: 10px;
  border-right: 2px solid dimgray;
  padding-right: 10px;
}

#page-nav ul li:last-of-type {
  border-right: none;
}

#current-time {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling For Book Section */

#books {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  height: auto;
  border: 3px solid dimgray;
  padding: 15px 0;
  grid-template-columns: 1fr;
}

#book-info {
  padding: 10px 15px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#book-info:nth-child(odd) {
  background-color: rgba(119, 136, 153, 0.296);
}

#book-info button,
#form button {
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 0 dimgray;
}

footer p {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
}

#form-section {
  margin-top: 50px;
  text-align: center;
}

#form-section h2 {
  font-size: 35px;
  color: dimgray;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 30px auto;
  align-items: center;
  gap: 25px;
}

input {
  width: 100%;
  padding: 10px;
  border: 3px solid dimgray;
  font-size: 16px;
}

#form button {
  align-self: center;
  padding: 7px 30px;
  font-size: 16px;
}

#book-info button:hover,
#form button:hover {
  background-color: #333;
  color: #eee;
  transform: scale(0.95);
}

/* Sytling For Contact Form Section */

#contact {
  margin: 40px auto;
  width: 50%;
}
#contact h2 {
  margin-bottom: 40px;
}
.contact-info {
  border: 3px solid dimgray;
  padding: 10px;
  align-items: center;
}
#contact h3 {
  font-size: 16px;
  padding-bottom: 15px;
  text-align: center;
  color: dimgray;
}
#contact address {
  padding-left: 15px;
  line-height: 1.9;
  font-size: 15px;
  text-align: center;
}

/* Footer Section Styling */

footer {
  width: 100%;
  background-color: rgb(38, 37, 37);
  color: #f4f4f4;
  position: fixed;
  bottom: 0;
}

.hide {
  display: none;
}